#username, #email, #password, #confirm-password, #age, #first-name, #last-name {
    display: block;
    margin: 5px;
}

.form, .login {
    width: 500px;
    margin: 200px auto;
}

.nav a {
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}

.nav {
    padding: 10px;
    display: inline-block;
}
